# **Dataset Preparation & Preprocessing**

## Load Data

In [14]:
# đọc dữ liệu
import pandas as pd
data = pd.read_csv('Resources\glass.data', header = None)
# value = data.loc[:,data.columns != 0]
# value = value.select_dtypes(include=["float64", "int64"])
# label = data.loc[:, data.columns ==0]
# label
data

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0   7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0   7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0   7

[214 rows x 11 columns]

In [7]:
data

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0   7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0   7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0   7

[214 rows x 11 columns]

In [29]:
value = data.loc[:,data.columns != 10]
value = value.loc[1:,value.columns >=1]
label = data.loc[:,data.columns == 10]
value['']=label
value
value.reset_index()
value.columns = range(value.shape[1])
value

           0      1     2     3      4     5     6     7     8  9
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00  1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00  1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00  1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00  1
5    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26  1
..       ...    ...   ...   ...    ...   ...   ...   ...   ... ..
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00  7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00  7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00  7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00  7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00  7

[213 rows x 10 columns]

In [85]:
# Xử lý nhãn dư, đếm nhãn
import numpy as np
label_list = pd.unique(label[label.columns[0]])
label_list = label_list.tolist()
num_class = len(label_list)
label_data =label[label.columns[0]].values.tolist()
label_count = np.array(label[label.columns[0]].value_counts())

In [86]:
print(label_list)

['relax', 'happy', 'sad', 'angry']

In [87]:
import numpy as np
X = np.array(value)
n = X.shape[0]
p = X.shape[1]
print(X.shape)
X

(400, 50)

array([[ 0.052,  0.591,  9.136, ...,  1.035,  0.593,  0.97 ],
       [ 0.125,  0.439,  6.68 , ...,  3.364,  0.702,  0.967],
       [ 0.046,  0.639, 10.578, ...,  1.682,  0.692,  0.963],
       ...,
       [ 0.187,  0.557,  4.724, ...,  3.364,  0.819,  0.962],
       [ 0.14 ,  0.573,  4.47 , ...,  3.364,  0.811,  0.969],
       [ 0.086,  0.475,  5.343, ...,  0.641,  0.848,  0.965]])

## Generate U_ngang , V

In [88]:
dict_cluster = {}

In [89]:
c = 0
def set_c(input):
    global c
    c = input

In [90]:
from random import random
import random

def generate_U_ngang(k1):
    global U_ngang
    global index_x_giamsat
    global sum_i
    U_ngang = np.zeros((n,c))
    
    
    index_x_giamsat = random.sample(range(n),k1)# CHọn k1 vector x từ n vector x ban đầu  
    index_x_giamsat = np.sort(index_x_giamsat)

    for i in range(k1):
        if len(dict_cluster) == 0 :
            c1= random.randint(0,c-1)
        else:
            c1= dict_cluster[label_data[index_x_giamsat[i]]]
            #Chọn vị trí cụm giám sát
        U_ngang[index_x_giamsat[i]][c1] = 0.5     
    sum_i= sum(U_ngang.T)
# #Maxtrix U_ngang
# for i in range(n):
#     print(str(i) +" : "+ str(U_ngang[i]))

In [91]:
#Maxtrix V sinh ngau nhien

def generate_V():
    global V
    V = np.random.rand(c,p)

## Function 4 ,6

In [92]:
# Tinh d_ki (trong cong thuc 6)
def d_ki(k, i):
    kq = sum(  pow(X[k] - V[i], 2) )
    return kq

In [93]:
#Cong thuc so 6



def cong_thuc_6(m):
    Z = np.zeros((n,c))
    #tu day suy ra U = U_ngang + Z ta tinh Z

    D = np.zeros((n,c))
    for k in range(n):
        for i in range(c):
            D[k][i] = pow(d_ki(k,i),1/(1-m))    
        D[k] = D[k]/sum(D[k])    
      
    #Z = (1/d_ki)^1/m-1z = np.array (i = 1 ,c)
    for i in range(n) :
        Z[i] = (1 - sum_i[i] )*D[i]
        
    return U_ngang+Z  # tuc la U

In [94]:
def cong_thuc_4(m):
    V_temp = np.zeros((c,p))
    U_temp = abs(U - U_ngang)
    U_temp = pow(U_temp,m)
    for i in range(c):
        tu_so = np.zeros(p)
        for k in range(n):
           tu_so +=U_temp[k][i] * X[k] 
        V_temp[i] = tu_so/ sum((U_temp.T)[i])
    return V_temp

# **Đánh giá kết quả**

In [95]:
# đếm số lượng phần tử mỗi cụm tương ứng với từng lớp nhãn dữ liệu
def count_class(num_class, num_cluster):
    global count_class_cluster
    count_class_cluster = np.zeros((num_class,num_cluster), dtype="int64")
    for k in range(n):
        k_class = label_list.index(label_data[k])
        index_max = np.argmax(U[k])
        count_class_cluster[k_class][index_max] +=1   
    # Ma trận có num_class dòng và num_cluster cột, phần tử thứ i,j của ma trận thuộc class i, cluster j

In [96]:

# Các độ đo
def external_validity(num_class, c):
    a1 = b1 = c1 = d1= 0
    for i in range(num_class):
        a1+= sum ( (count_class_cluster[i]-1)*count_class_cluster[i]/2 )
        b1+= (pow(sum(count_class_cluster[i]),2) - sum(pow(count_class_cluster[i],2)) )/2
    for i in range(num_class-1):
        for j in range(i+1, num_class):
            for k in range(c):
                c1+=count_class_cluster[i][k] * count_class_cluster[j][k]
                for h in range(c):
                    if h!=k :
                        d1+=count_class_cluster[i][k] * count_class_cluster[j][h]  
    print("a1= "+str(a1))
    print("b1= "+str(b1))
    print("c1= "+str(c1))
    print("d1= "+str(d1))
    # Rand int
    w1 =  (a1 + d1)/ (a1 +b1 + c1 +d1)
    # Adjusted Rand Index
    M= a1 + b1 +c1 +d1
    w2 = (a1 - (a1+c1)*(a1+b1)/M) /( (2*a1+b1+c1)/2 - (a1+c1)*(a1+b1)/M )
    #Jaccard Coefficient
    w3 = a1 / (a1+b1+c1)
    print ("Rand Index :" +str(w1))
    print ("Adjusted Rand Index :" + str(w2))
    print ("Jaccard Coefficient" +str(w3))

In [97]:
def Meam_accuraccy():
    sum_cluster = sum(count_class_cluster)
    mean_accuraccy = sum_cluster/label_count
    print(np.amin(mean_accuraccy))

In [98]:
def set_dict_cluster():
    global dict_cluster
    for i in range(num_class):
        temp = np.argmax(count_class_cluster[i])
        dict_cluster[label_list[i]] = temp
    return

def rs_dict_cluster():
    global dict_cluster
    dict_cluster = {}
    return

# **Thuật toán**

In [99]:
def thuat_toan_1_pha(epsilon,m,c,k1):
    global U,V,count_class_cluster
    global dict_cluster
    dict_cluster = {}
    
    set_c(c)
    generate_U_ngang(k1)
    generate_V()

    Epsilon = np.zeros((c,p)) + epsilon
    i=1
    while True:
        # print("-----------------------\nChay lan "+ str(i)+"\n")
        i+=1
        U= cong_thuc_6(m)
        V_truoc =V
        V= cong_thuc_4(m)
        delta_V = abs(V- V_truoc)
        ktra = np.less_equal(delta_V, Epsilon)
        if (np.all(ktra)):
            break
    print("\n------------------------------------\nKetqua\nV:")
    print(V)
    count_class(num_class, c)
    external_validity(num_class, c)
    # Meam_accuraccy()
    return

In [100]:
def thuat_toan_2_pha(epsilon,m,c,k1):
    global V,U, count_class_cluster, dict_cluster
    set_c(c)
    generate_V()
    V_temp = V
    # Pha 1 (Khong giam sat k1 = 0)
    dict_cluster = {}
    generate_U_ngang(0) 
    Epsilon = np.zeros((c,p)) + epsilon
    while True:
        U= cong_thuc_6(m)
        V_truoc = V
        V= cong_thuc_4(m)
        delta_V = abs(V- V_truoc)
        ktra = np.less_equal(delta_V, Epsilon)
        if (np.all(ktra)):
            break
    count_class(num_class, c)
    set_dict_cluster()  
    #Pha 2(Co giam sat k1 = k1)
    generate_U_ngang(k1)
    while True:
        U= cong_thuc_6(m)
        
        V_truoc = V
        V= cong_thuc_4(m)
        
        delta_V = abs(V- V_truoc)
        ktra = np.less_equal(delta_V, Epsilon)
        if (np.all(ktra)):
            break
    print("\n------------------------------------\nKetqua\nV:")
    print(V)
    count_class(num_class, c)
    external_validity(num_class, c)
    # Meam_accuraccy()
    rs_dict_cluster()
    return

# **Main**

In [101]:
thuat_toan_2_pha(1e-6,2,4,150)

------------------------------------
Ketqua
V:
[[ 1.41841108e-01  5.52993452e-01  6.84641086e+00  1.19221342e+02
   2.49022540e+00 -1.48250495e-02  4.89675307e-01  7.59512733e-03
   2.01776559e-01  2.40229273e-02  7.08080474e-02  2.13279988e-02
   3.08264380e-02  4.07282332e-02  2.16799101e-02  1.91136521e-02
   3.60485664e-02  5.30946914e+02  5.95458406e-02  8.26460985e+02
   3.07345754e-02  1.36549592e-02  4.60820986e+03  2.84998261e+00
   2.29526568e-01  4.02346819e-01  2.18838129e+03  2.80367480e+03
   1.99070935e+00  6.98375800e+00  3.94916508e-02  8.65466770e-01
   3.33563307e-01  2.33908015e-01  3.51036759e-01  1.77052556e-01
   3.00226230e-01  2.45854826e-01  1.80357558e-01  3.88869101e-01
   3.50501106e-01  5.35567610e-01  3.16605206e-01  3.37521799e-01
   3.25969802e-01  1.85332616e-01 -8.86737526e-03  1.89785312e+00
   7.79116411e-01  9.66711677e-01]
 [ 1.61145025e-01  5.51385218e-01  7.45441990e+00  1.27114518e+02
   2.00786935e+00  3.09659255e-01  3.91680852e-01  9.01105313e-02
   1.61525044e-01  3.36107035e-02  1.98225275e-02  7.19621499e-02
  -4.62812053e-03  1.46931185e-02  4.48001627e-02  3.71089734e-02
   2.77790046e-02  6.98686132e+02  9.40097634e-02  1.35446236e+03
   2.87138110e-02 -2.35780452e-02  9.02558993e+03  3.04620741e+00
   3.24084265e-01  5.45264313e-01  3.77559908e+03  4.06516200e+03
   1.07420771e+00  3.04008995e+00  7.70629541e-02  9.08128249e-01
   3.78661609e-01  2.89672236e-01  4.23107782e-01  2.37972137e-01
   3.13614077e-01  2.55044728e-01  2.70562639e-01  4.40844209e-01
   4.33190378e-01  6.47486002e-01  4.05237418e-01  4.30455200e-01
   3.36684703e-01  1.85286892e-01 -1.70345238e-02  1.83331281e+00
   7.92091098e-01  9.66603695e-01]
 [ 1.13058382e-01  5.57133950e-01  6.88775740e+00  1.22479288e+02
   3.46618670e+00 -7.24205464e-02  6.40688690e-01 -1.52912042e-03
   1.44058487e-01  4.33138710e-02  7.69137458e-02  7.29476246e-03
   4.64762631e-02  1.91784335e-02  1.85840987e-02  2.09467021e-02
   4.30740416e-02  3.26134585e+02  9.86980102e-02  5.46668775e+02
   3.59495885e-02  6.29356862e-03  2.49524137e+03  1.90795726e+00
   1.97353177e-01  2.57269252e-01  1.39101028e+03  2.06265665e+03
   3.13696745e+00  1.62699030e+01  2.64955090e-02  8.17207526e-01
   2.95154935e-01  2.14657777e-01  4.14149968e-01  2.15905281e-01
   4.03615151e-01  2.44554153e-01  2.21557040e-01  3.19090277e-01
   2.60882699e-01  5.63849243e-01  2.25655511e-01  3.36974814e-01
   3.17282272e-01  2.14057832e-01  7.42738523e-03  1.66672407e+00
   7.31591377e-01  9.66192981e-01]
 [ 1.23224467e-01  5.61727011e-01  6.96009947e+00  1.29729257e+02
   2.16160472e+00  2.20717521e-01  4.74676096e-01  5.61194712e-02
   1.88111120e-01  3.35905295e-02  5.14399791e-02  5.46141782e-02
   1.44675222e-02  2.14277570e-02  3.40235851e-02  1.05793120e-02
   1.97897298e-02  4.44534329e+02  7.01193713e-02  1.11290800e+03
   3.18281057e-02 -1.66394055e-02  6.79908640e+03  2.77888775e+00
   2.55328317e-01  4.85536653e-01  2.96210945e+03  3.48343248e+03
   1.48884624e+00  4.47472472e+00  5.59467050e-02  8.89894665e-01
   3.35165448e-01  2.69202695e-01  3.91498773e-01  1.73686445e-01
   3.81793608e-01  2.56125542e-01  2.70015668e-01  4.17508166e-01
   3.57422888e-01  6.23343806e-01  3.75658690e-01  4.14271853e-01
   3.28361993e-01  1.91109994e-01  1.82488764e-03  1.60007083e+00
   7.71261420e-01  9.67152049e-01]]
a1= 8430.0
b1= 11370.0
c1= 14363
d1= 45637
Rand Index :0.677531328320802
Adjusted Rand Index :0.17739129933174397
Jaccard Coefficient0.24675818868366362

In [102]:
thuat_toan_2_pha(1e-6,2, 4, 150)

------------------------------------
Ketqua
V:
[[ 1.36965507e-01  5.52644323e-01  6.96552633e+00  1.21016647e+02
   2.49038634e+00  2.60120215e-02  5.03239768e-01  7.22122357e-03
   1.93704920e-01  4.35830255e-02  8.18731761e-02  3.58304256e-02
   3.41859957e-02  3.67610727e-02  1.15143643e-02  1.64036465e-02
   2.35138627e-02  5.07269907e+02  6.59487895e-02  8.02112096e+02
   3.12622553e-02  2.78209103e-03  4.60367101e+03  2.83588495e+00
   2.23166718e-01  3.99862274e-01  2.17362194e+03  2.78665643e+03
   1.97619190e+00  6.98697219e+00  3.93695593e-02  8.63932029e-01
   3.24057316e-01  2.22128538e-01  3.30307510e-01  1.90321424e-01
   2.80106221e-01  2.46213236e-01  1.73214375e-01  4.06150976e-01
   3.59841549e-01  5.16850130e-01  3.16466502e-01  3.08661269e-01
   3.23564428e-01  1.86660918e-01 -5.82566525e-03  1.92429659e+00
   7.73144739e-01  9.66627855e-01]
 [ 1.63852840e-01  5.52282380e-01  7.22272563e+00  1.20167762e+02
   2.02415028e+00  2.78558120e-01  3.96228112e-01  8.72067873e-02
   1.75424662e-01  5.07964191e-02  2.83034590e-02  6.87362080e-02
  -1.70810477e-03  2.88396962e-02  5.33984815e-02  2.01104533e-02
   1.75842232e-02  7.54820911e+02  8.41284180e-02  1.34512047e+03
   3.01266178e-02 -1.42960454e-02  8.81214761e+03  3.15049333e+00
   3.25278837e-01  5.38799953e-01  3.67959968e+03  3.99978384e+03
   1.10964948e+00  3.14107597e+00  7.36526582e-02  9.06538635e-01
   3.71306388e-01  3.07944246e-01  4.36346556e-01  2.53932574e-01
   3.37549211e-01  2.74251854e-01  2.97573739e-01  4.10590257e-01
   4.51437950e-01  6.34809590e-01  4.19555188e-01  4.50173889e-01
   3.38508420e-01  1.83984230e-01 -2.41094613e-02  1.96947374e+00
   7.94378125e-01  9.66983989e-01]
 [ 1.13566926e-01  5.52250393e-01  6.87370130e+00  1.21638727e+02
   3.44841389e+00 -1.97625118e-01  5.86996473e-01 -2.17627373e-02
   1.45077568e-01  4.33068527e-02  9.60992894e-02  4.41572282e-02
   4.85486082e-02  2.09001905e-02  1.70542429e-02  2.81836497e-02
   3.54029474e-02  3.44019895e+02  9.28829480e-02  6.00574139e+02
   3.37913095e-02 -3.49657576e-03  2.57075104e+03  2.09475024e+00
   1.96531366e-01  2.74328416e-01  1.43606191e+03  2.04045461e+03
   3.07496964e+00  1.65614488e+01  2.52004829e-02  8.23536032e-01
   3.35656164e-01  2.31208645e-01  3.91406505e-01  2.51905949e-01
   3.92607708e-01  2.56706378e-01  2.74498132e-01  3.41313568e-01
   2.79532455e-01  5.21664708e-01  2.65556171e-01  3.54131736e-01
   3.22278639e-01  2.11008332e-01 -4.70393986e-03  1.63061183e+00
   7.41669647e-01  9.66025291e-01]
 [ 1.26323863e-01  5.61279467e-01  7.07561742e+00  1.25238470e+02
   2.14756305e+00  1.53471595e-01  4.64019934e-01  4.08044876e-02
   1.73293061e-01  2.45852320e-02  5.93719320e-02  5.62108177e-02
   1.73482859e-02  2.54742304e-02  4.44924264e-02  5.80055188e-03
   1.40118451e-03  4.75838954e+02  7.17126690e-02  1.13592658e+03
   3.11439567e-02 -9.79990022e-03  6.67292610e+03  2.78878126e+00
   2.46132696e-01  4.88561546e-01  2.93330167e+03  3.43836072e+03
   1.51111946e+00  4.58290245e+00  5.50317028e-02  8.89360304e-01
   3.36984331e-01  2.49338298e-01  3.74152521e-01  1.72672583e-01
   3.89753248e-01  2.52742007e-01  2.77260607e-01  4.29833986e-01
   3.46437421e-01  6.12071432e-01  3.57352087e-01  4.05106913e-01
   3.31356207e-01  1.92778706e-01  5.79634817e-03  1.60782309e+00
   7.68551477e-01  9.66893754e-01]]
a1= 8704.0
b1= 11096.0
c1= 13551
d1= 46449
Rand Index :0.6911403508771929
Adjusted Rand Index :0.20522174283577221
Jaccard Coefficient0.26098167970975383

In [103]:
U

array([[0.03473043, 0.00559021, 0.94818472, 0.01149463],
       [0.06554766, 0.01319457, 0.89598012, 0.02527765],
       [0.041396  , 0.34198163, 0.52323489, 0.09338748],
       ...,
       [0.05049691, 0.11128403, 0.01537908, 0.82283998],
       [0.43170793, 0.05660464, 0.05686338, 0.45482404],
       [0.7963788 , 0.01044097, 0.16274811, 0.03043212]])

In [104]:
np.round(U, 4)

array([[0.0347, 0.0056, 0.9482, 0.0115],
       [0.0655, 0.0132, 0.896 , 0.0253],
       [0.0414, 0.342 , 0.5232, 0.0934],
       ...,
       [0.0505, 0.1113, 0.0154, 0.8228],
       [0.4317, 0.0566, 0.0569, 0.4548],
       [0.7964, 0.0104, 0.1627, 0.0304]])